# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` & `.sm`
*.class
*.sm

# Ignore `bin` dir
bin/
# or
*/bin/*

# Unignore all `.jar` in `bin` dir
!*/bin/*.jar

# Ignore all `library.jar` in `bin` dir
*/bin/library.jar

# Ignore a file with extension
relative/path/to/dir/filename.extension

# Ignore a file without extension
relative/path/to/dir/anotherfile

# This solve the .DS_Store file problem in Github
# find . -name .DS_Store -print0 | xargs -0 git rm -f --ignore-unmatch
# .DS_Store
# git add .gitignore
# git commit -m '.DS_Store banished!'

.DS_Store
